
/* Nice red: #721734 */
/* Nice blue: #02356a*/

/* href link style */
a {
	text-decoration: none; 	
	color: white;
	margin-left: 13px;
	margin-right: 13px; 
	display: inline-block;
}

a.two {
	padding-left: 35px;
}

/* p {
	margin: 0;
	text-align: center !important;
} */

a:hover, a:active {
	color: rgba(137, 144, 153, 0.9); 
}

hr {
	border-color: #02356a;
}

button {
	padding: 0;
}

h3 {
	padding-left: 35px;
	font-size: 18px; 
	margin-top: 12px; 
	margin-bottom: 12px; 
}

h3.two {
	font-size: 16px;
	padding: 0;
}

h2 {
	font-size: 18px;
}

h1 {
	position: relative;
	margin: 0;
	width: 100%;
	font-weight: normal;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#container {
    margin-bottom: 5px;
}

.zoom-button {
    width: 35px;
    height: 35px;
	border-radius: 5px;
	background-color: black; 
	border-color: black; 
	border: solid black; 
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 100; 
	top: 80px; 
}

#zoom-info {
    display: block;
    position: fixed;
	color: darkcyan; 
    z-index: 100; 
    padding: 10px;
	top: 76px; 
}

figure {
	margin: auto;
	width: 100%;
	display: table;
}
@property --_w {
	syntax: '<length>';
	inherits: true;
	initial-value: 100vw; 
}
@property --_h {
	syntax: '<length>';
	inherits: true;
	initial-value: 100vh; 
}
:root {
	--w: tan(atan2(var(--_w),1px)); /* screen width */
	--h: tan(atan2(var(--_h),1px)); /* screen height*/
	/* The result is an integer without unit  */
}
figure img {
	max-width: 90%; 
	max-height: calc(pow((768 / var(--h)), 1.1) * 100vh);
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important;
}

figcaption {
	font-size: 12px;
	display: table-caption;
	caption-side: bottom;
	text-align: center !important;
}

#box {
	/*position: relative;*/
	width: auto;
	height: auto;
	text-align: center;
}

.dot {
	height: 13px;
	width: 13px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.dotb {
	height: 13px;
	width: 13px;
	background-color: blue;
	border-radius: 50%;
	display: inline-block;
}

table {
	border-collapse: collapse;
}

table td, table td * {
	vertical-align: top;
	text-align: left;
	padding: 0; 
	margin: 0;
}

td.one {
	width: 5%;
}
td.two {
	width: 23%;
}
td.three {
	width: 65%;
}
td.four {
	width: 90%;
}
td.five {
	width: 12.5%;
}
td.six {
	width: 52.5%;
}
td.seven {
	width: 15%;
}
td.eight {
	width: 50%;
}
td.nine {
	width: 2%;
}
td.ten {
	width: 25%;
}

/* website box style */
* {
	box-sizing: border-box;
	scroll-behavior: smooth !important;
}

html {
	min-height: 100%;
	position: relative;
}
body {
	font-family: "Poppins"; 
	height: 100%; 
	width: 100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	background-color: #000000;  
	background-attachment: fixed;
	position: relative;
	min-height: 100vh;
	overflow-y: scroll;
}

/* Style the header */
#header {
	position: fixed;
	float: left;
	font-family: "Poppins";
	/* text-align: center; */
	font-size: 15px;
	background-color: #000000;
	top: 0px; 
	left: 0px; 
	right: 0px;
	color: white;
	overflow: hidden;
	height: auto; 
	width: 100%;
	transition: 0.3s;
	z-index: 1000;
	display: flex;
	box-shadow: 0px -3px 15px 1px #333333;
}

#test {
	/*border: solid yellow;*/
	display: table;
	width: 100%;
}

#textcontainer {
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	/*border: solid white;*/
	float: left;
}

#textcontainer2 {
	width: auto;
	margin-top: 10px;
	margin-right: 10px;
	/*border: solid blue;*/
	float: right; 
}

#textdefault {
	/*opacity: 1;*/
	float: left;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	/*border: solid red;*/
	/*position: absolute;*/
}

#textdefault2 {
	/*opacity: 1;*/
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	float: right;
	/*border: solid green;*/
	/*position: absolute;*/
}

.soc {
	width: 35px; 
	height: auto; 
	margin-left: -6px;
	margin-right: -6px;
	border-radius: 15%;
	transition: 0.3s;
	z-index: 1000;
}

.soc:hover, .soc:active {
	background-color: red;
	transition: 0s !important; 
}

/*
#textscroll {
	opacity: 0;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
*/

/* Create three columns/boxes that float next to each other */
#nav {
	float: left;
	width: 20%;
	color: white;
	top: 65px;
	position: sticky;
	text-align: right;
	font-size: 16px;
	padding: 2rem;
	transition: 0.3s;
	z-index: 100;
}
#nav:hover { 
	transform: translateX(-7px) translateY(3.75px) scale(1.05);
	transform-origin: center center;
}
#article {
	float: left;
	width: 60%;
	background-color: #cbccba;
	font-size: 14px;
	min-height: 100vh;
	transition: 0.3s;
	padding-top: 60px;
	z-index: 10;
	/*border-left: 2px solid white;
	border-right: 2px solid white;*/
}
#notilt {
	display: block;
}
#tilt {
	display: none;
}
.blink {
	animation: blinker 2.5s infinite; 
	animation-timing-function: cubic-bezier(.78,.1,.22,.9);
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

#text {
	/*position: relative;*/
	padding: 1rem;
	font-size: 16px;
	width: auto;
	height: auto;
	background-color: #cbccba;
	text-align: left; /* justify */
	bottom: 2.5rem;
}

social {
	float: left;
	width: 20%;
	color: white;
	top: 0;
	min-height: 100vh;
	position: sticky;
	text-align: left;
	vertical-align: bottom;
	font-size: 16px;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

bottom { 
	position: absolute;                  
	bottom: 3rem;                          
	left: 2rem;
	transition: 0.3s;                          
} 

bottom:hover {
	transform: translateX(1px) translateY(-2.75px) scale(1.05);
	transform-origin: center center;
}

/* Needed for mobile */
bottommedia { 
	position: absolute;                  
	bottom: 3rem;                          
	left: 2rem;
	display: none;                          
} 

/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 60%;
	font-size: 12px; 
	text-align: center; 
	background: lightgrey;
	color: #02356a;
	position: absolute;
}

/* Needed for mobile */
footermedia {
	display: none;
}

.accordion {
	background-color: transparent;
	color: black;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;
	font-family:"Poppins";
	margin-top: 5px;
}
.active {
	background-color: transparent;
}
.accordion:hover {
	background-color: rgba(2, 53, 106, 0.3); 
	/*background-image: 
	linear-gradient(
		to bottom,
		rgba(2, 53, 106, 0) 0%,
		rgba(2, 53, 106, 0.3) 20%,
		rgba(2, 53, 106, 0.3) 80%,
		rgba(2, 53, 106, 0) 100%
	);*/
}
.panel {
	padding: 0 18px;
	background-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.35s ease-out;
}

/* Mobile layout */
@media (max-width: 800px) {

	#notilt {
		display: none;
	}
	#tilt {
		display: inline-block;
		height: 100vh; 
		width: 100vw;
		color: orange; 
		text-align: center;
		vertical-align: middle; 
		margin-top: 40px;
		font-size: 26px;
	}

	a.two {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	body {
		background-color: #cbccba;  
	}

	figcaption {
		text-align: center !important;
	}
	
	bottom:hover {
		transform: none !important; 
		transform-origin: none !important;
	}
	#article{
		width: 100% !important;
		min-height: 0 !important;
		padding-top: 0 !important;
		margin-top: 125px;	
	}
	#text {
		width: 100% !important;
		height: auto;
		padding: 0.25rem !important;
	}
	footer {
		display: none !important;
	}
	footermedia {
		width: 100% !important;
		display: block !important;
		font-size: 10px; 
		text-align: center; 
		background: lightgrey;
		color: #02356a;
	}
	#nav {
		display: none !important; 
	}
	social {
		display: none !important; 
	}
	bottom {
		display: none !important; 
	}

	#textcontainer {
		width: 73%;
		margin-left: 0px !important;
	}

	#textcontainer2 {
		width: 26%;
		margin-right: 3px !important;
	}

	#textdefault {
		width: auto;
		text-align: left !important;
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}
	
	#textdefault2 {
		width: auto;
		text-align: right !important;
		margin-top: 2px !important;
		margin-bottom: 2px !important;
	}

	figure img {
		max-height: 100vh !important;
	}

	bottommedia {
		display: block !important;
		position: relative;              
		bottom: 0;                          
		left: 0;    
		top: 0;  
		right: 0; 
	}
	h3 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	h3.two {
		padding: 0 !important;
	}
	table td, table td * {
		text-align: left !important;
	}

	td.one {
		width: 0% !important;
	}
	td.two {
		width: 26% !important;
	}
	td.three {
		width: 70% !important;
	}
	td.four {
		width: 100% !important;
	}
	td.five {
		width: 18% !important;
	}
	td.six {
		width: 52% !important;
	}
	td.seven {
		width: 24% !important;
	}
	td.eight {
		width: 46% !important;
	}
	td.nine {
		width: 4% !important;
	}
	td.ten {
		width: 30% !important;
	}

	/* p {
		margin: 0 !important;
		text-align: center !important;
	} */
	
	.panel {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.zoom-button {
		top: 165px !important; 
	}

	.zoom-info {
		top: 161px !important; 
	}
}
